In [310]:
import pandas as pd
import numpy as np

In [311]:
player_df = pd.read_csv('..\\Consolidated Data\\Player_Attribute_Data.csv')

In [312]:
transfer_df = pd.read_csv('..\\Consolidated Data\\Transfer Spends.csv')

In [313]:
rankings_df= pd.read_csv('..\\Consolidated Data\\Team Rankings_corrected.csv')

In [314]:
ranking_list = rankings_df[['Team','Tier']]

In [315]:
transfer_list = transfer_df[['Team','League']]

In [316]:
comp_df = pd.merge(ranking_list,transfer_list,left_on='Team', right_on='Team',how='outer')

In [317]:
to_clean_df = comp_df[comp_df['Tier'].isnull()]

In [318]:
correct_df = comp_df[comp_df['League'].isnull()]

In [319]:
clean_up_array=[]
for i in range(0,len(correct_df)):
    for j in range(0,len(to_clean_df)):
        if(to_clean_df['Team'].iloc[j].find(correct_df['Team'].iloc[i])>=0):
            x = (transfer_df[transfer_df['Team']==to_clean_df['Team'].iloc[j]]['Team'].index[0],
                 '::',to_clean_df['Team'].iloc[j],'--',correct_df['Team'].iloc[i])
            clean_up_array.append(x)

In [320]:
clean_up_array.pop(4)

(42, '::', 'Inter Milan', '--', 'Milan')

In [321]:
for i in range(0,len(clean_up_array)):
    cleaner=clean_up_array[i]
    correction_string = 'transfer_df.at['+str(cleaner[0])+','+'\'Team\''+']='+'\''+cleaner[4]+'\''
    print(correction_string)

transfer_df.at[3,'Team']='Chelsea'
transfer_df.at[40,'Team']='Juventus'
transfer_df.at[1,'Team']='Liverpool'
transfer_df.at[5,'Team']='Arsenal'
transfer_df.at[43,'Team']='Milan'
transfer_df.at[44,'Team']='Roma'
transfer_df.at[98,'Team']='Ajax'
transfer_df.at[41,'Team']='Napoli'
transfer_df.at[6,'Team']='Everton'
transfer_df.at[99,'Team']='PSV'
transfer_df.at[42,'Team']='Inter'
transfer_df.at[48,'Team']='Torino'
transfer_df.at[12,'Team']='Southampton'
transfer_df.at[25,'Team']='Real Betis'
transfer_df.at[47,'Team']='Fiorentina'
transfer_df.at[45,'Team']='Lazio'
transfer_df.at[31,'Team']='RCD Espanyol'
transfer_df.at[53,'Team']='Udinese'
transfer_df.at[46,'Team']='Atalanta'
transfer_df.at[100,'Team']='Feyenoord'
transfer_df.at[103,'Team']='Vitesse'
transfer_df.at[106,'Team']='FC Twente'
transfer_df.at[51,'Team']='Sampdoria'
transfer_df.at[52,'Team']='Genoa'
transfer_df.at[9,'Team']='Bournemouth'
transfer_df.at[16,'Team']='Burnley'
transfer_df.at[14,'Team']='Watford'
transfer_df.at[55,'Team']='Bologna'
transfer_df.at[54,'Team']='Brescia'
transfer_df.at[49,'Team']='Cagliari'
transfer_df.at[59,'Team']='Lecce'
transfer_df.at[56,'Team']='Parma'
transfer_df.at[50,'Team']='Sassuolo'
transfer_df.at[107,'Team']='Willem II'

In [322]:
transfer_df.at[3,'Team']='Chelsea'
transfer_df.at[40,'Team']='Juventus'
transfer_df.at[1,'Team']='Liverpool'
transfer_df.at[5,'Team']='Arsenal'
transfer_df.at[43,'Team']='Milan'
transfer_df.at[44,'Team']='Roma'
transfer_df.at[98,'Team']='Ajax'
transfer_df.at[41,'Team']='Napoli'
transfer_df.at[6,'Team']='Everton'
transfer_df.at[99,'Team']='PSV'
transfer_df.at[42,'Team']='Inter'
transfer_df.at[48,'Team']='Torino'
transfer_df.at[12,'Team']='Southampton'
transfer_df.at[25,'Team']='Real Betis'
transfer_df.at[47,'Team']='Fiorentina'
transfer_df.at[45,'Team']='Lazio'
transfer_df.at[31,'Team']='RCD Espanyol'
transfer_df.at[53,'Team']='Udinese'
transfer_df.at[46,'Team']='Atalanta'
transfer_df.at[100,'Team']='Feyenoord'
transfer_df.at[103,'Team']='Vitesse'
transfer_df.at[106,'Team']='FC Twente'
transfer_df.at[51,'Team']='Sampdoria'
transfer_df.at[52,'Team']='Genoa'
transfer_df.at[9,'Team']='Bournemouth'
transfer_df.at[16,'Team']='Burnley'
transfer_df.at[14,'Team']='Watford'
transfer_df.at[55,'Team']='Bologna'
transfer_df.at[54,'Team']='Brescia'
transfer_df.at[49,'Team']='Cagliari'
transfer_df.at[59,'Team']='Lecce'
transfer_df.at[56,'Team']='Parma'
transfer_df.at[50,'Team']='Sassuolo'
transfer_df.at[107,'Team']='Willem II'

In [323]:
transfer_df

,Unnamed: 0,Team,Arrival_19,Departure_19,Arrival_18,Departure_18,Arrival_17,Departure_17,League,Total_Arrivals,Total_Departures,Average Transfer Spend
0,0,Manchester City,168.00,69.00,78.59,54.10,317.500,91.35,Premier League,564.090,214.45,116.546667
1,1,Liverpool,1.90,41.60,182.20,41.10,173.880,194.50,Premier League,357.980,277.20,26.926667
2,2,Tottenham Hotspur,114.00,35.00,0.00,5.35,121.500,103.80,Premier League,235.500,144.15,30.450000
3,3,Chelsea,56.00,45.00,145.75,208.80,69.550,260.50,Premier League,271.300,514.30,-81.000000
4,4,Manchester United,159.00,69.50,82.70,30.55,198.400,45.50,Premier League,440.100,145.55,98.183333
5,5,Arsenal,152.40,53.55,80.15,7.90,152.850,158.00,Premier League,385.400,219.45,55.316667
6,6,Everton,119.90,80.50,99.80,28.65,203.200,126.38,Premier League,422.900,235.53,62.456667
7,7,Leicester City,106.10,87.30,114.60,95.80,87.700,47.90,Premier League,308.400,231.00,25.800000
8,8,West Ham United,0.00,79.70,53.38,93.90,14.870,56.80,Premier League,68.250,230.40,-54.050000
9,9,Bournemouth,56.45,34.50,89.10,20.20,34.300,0.00,Premier League,179.850,54.70,41.716667
10,10,Wolverhampton Wanderers,0.00,97.00,3.40,112.25,23.300,24.61,Premier League,26.700,233.86,-69.053333
11,11,Newcastle United,68.40,35.64,59.75,47.98,44.300,19.52,Premier League,172.450,103.14,23.103333
12,12,Southampton,58.60,26.40,62.25,23.80,61.250,98.35,Premier League,182.100,148.55,11.183333
13,13,Crystal Palace,7.60,55.75,11.85,0.35,48.950,3.00,Premier League,68.400,59.10,3.100000
14,14,Watford,40.00,23.00,30.10,51.84,71.400,18.74,Premier League,141.500,93.58,15.973333
15,15,Brighton & Hove Albion,67.75,2.50,88.36,13.40,67.000,0.00,Premier League,223.110,15.90,69.070000
16,16,Burnley,9.40,8.80,33.00,8.00,35.740,50.00,Premier League,78.140,66.80,3.780000
17,17,Aston Villa,148.60,0.00,19.10,15.55,2.800,17.83,Premier League,170.500,33.38,45.706667
18,18,Norwich City,4.17,1.00,5.45,37.60,15.120,33.64,Premier League,24.740,72.24,-15.833333
19,19,Sheffield United,47.50,0.00,6.70,12.40,5.640,0.00,Premier League,59.840,12.40,15.813333
20,0,Real Madrid,307.50,130.00,162.75,134.10,40.500,128.50,La Liga,510.750,392.60,39.383333
21,1,FC Barcelona,255.00,156.40,129.10,134.05,374.500,232.50,La Liga,758.600,522.95,78.550000
22,2,Atlético Madrid,56.00,243.50,313.10,160.50,64.900,102.00,La Liga,434.000,506.00,-24.000000
23,3,Valencia CF,12.00,75.00,45.00,127.00,68.800,55.00,La Liga,125.800,257.00,-43.733333
24,4,Real Sociedad,0.25,21.25,9.50,12.00,30.800,21.50,La Liga,40.550,54.75,-4.733333
25,5,Real Betis,95.75,69.50,42.50,48.25,38.500,27.07,La Liga,176.750,144.82,10.643333
26,6,Sevilla FC,0.00,158.75,101.20,79.25,91.250,78.05,La Liga,192.450,316.05,-41.200000
27,7,Celta de Vigo,22.90,19.65,29.50,34.80,25.800,13.20,La Liga,78.200,67.65,3.516667
28,8,Athletic Bilbao,0.00,0.00,0.00,32.90,80.000,32.00,La Liga,80.000,64.90,5.033333
29,9,Villarreal CF,21.80,62.00,92.90,59.80,46.100,67.30,La Liga,160.800,189.10,-9.433333
...,...,...,...,...,...,...,...,...,...,...,...,...
86,8,FC Girondins Bordeaux,7.00,34.25,21.29,50.70,32.600,28.25,Ligue 1,60.890,113.20,-17.436667
87,9,RC Strasbourg Alsace,9.00,4.50,15.75,14.00,3.900,2.00,Ligue 1,28.650,20.50,2.716667
88,10,FC Toulouse,14.00,15.15,18.45,35.50,3.500,13.00,Ligue 1,35.950,63.65,-9.233333
89,11,HSC Montpellier,0.00,20.30,40.00,10.15,25.500,5.70,Ligue 1,65.500,36.15,9.783333
90,12,Stade Reims,13.70,12.00,15.50,11.00,0.000,2.90,Ligue 1,29.200,25.90,1.100000
91,13,FC Nantes,14.25,40.00,15.10,22.20,11.300,10.00,Ligue 1,40.650,72.20,-10.516667
92,14,SCO Angers,10.40,34.00,4.45,21.00,12.400,18.00,Ligue 1,27.250,73.00,-15.250000
93,15,SC Amiens,3.50,18.15,5.44,6.64,10.000,6.63,Ligue 1,18.940,31.42,-4.160000
94,16,Nîmes Olympique,8.60,20.50,3.15,0.00,0.150,0.00,Ligue 1,11.900,20.50,-2.866667
95,17,FCO Dijon,7.30,25.50,9.20,4.00,5.500,15.00,Ligue 1,22.000,44.50,-7.500000
96,18,FC Metz,10.35,0.80,8.60,14.09,2.500,22.85,Ligue 1,21.450,37.74,-5.430000
97,19,Stade Brest 29,7.50,0.50,0.00,7.00,0.000,0.00,Ligue 1,7.500,7.50,0.000000
98,0,Ajax,57.70,208.25,50.65,17.55,26.250,81.20,Eredivisie,134.600,307.00,-57.466667
99,1,PSV,0.00,35.75,63.85,21.25,17.550,27.90,Eredivisie,81.400,84.90,-1.166667
100,2,Feyenoord,7.30,18.40,2.00,8.95,26.800,33.30,Eredivisie,36.100,60.65,-8.183333
101,3,AZ Alkmaar,6.50,18.30,6.80,30.23,5.700,12.00,Eredivisie,19.000,60.53,-13.843333
102,4,FC Utrecht,1.45,3.55,2.55,6.40,1.100,11.00,Eredivisie,5.100,20.95,-5.283333
103,5,Vitesse,0.00,1.90,8.10,1.89,0.000,4.45,Eredivisie,8.100,8.24,-0.046667
104,6,SC Heerenveen,2.55,12.40,1.39,10.15,4.650,14.20,Eredivisie,8.590,36.75,-9.386667
105,7,FC Groningen,0.15,14.45,3.20,2.50,0.375,4.25,Eredivisie,3.725,21.20,-5.825000
106,8,FC Twente,0.00,0.00,0.00,0.00,3.000,0.40,Eredivisie,3.000,0.40,0.866667
107,9,Willem II,0.25,0.78,0.10,3.50,0.225,0.15,Eredivisie,0.575,4.43,-1.285000
108,10,Heracles Almelo,0.00,3.75,0.40,3.00,0.700,6.10,Eredivisie,1.100,12.85,-3.916667
109,11,PEC Zwolle,1.35,5.90,2.18,5.25,0.000,0.00,Eredivisie,3.530,11.15,-2.540000
110,12,Fortuna Sittard,0.00,0.00,0.00,0.00,0.240,2.00,Eredivisie,0.240,2.00,-0.586667
111,13,Sparta Rotterdam,0.00,3.00,0.00,2.13,0.000,3.75,Eredivisie,0.000,8.88,-2.960000
112,14,VVV-Venlo,0.50,2.50,0.00,1.00,0.000,0.00,Eredivisie,0.500,3.50,-1.000000
113,15,ADO Den Haag,0.00,0.00,2.30,0.00,2.300,0.00,Eredivisie,4.600,0.00,1.533333
114,16,FC Emmen,0.50,1.50,0.05,0.00,0.000,0.00,Eredivisie,0.550,1.50,-0.316667
115,17,RKC Waalwijk,0.00,0.00,0.00,0.00,0.000,0.05,Eredivisie,0.000,0.05,-0.016667

In [325]:
final_spend_df = transfer_df[['Team','Total_Arrivals']]

In [326]:
final_spend_df['Total_Arrivals'] = final_spend_df['Total_Arrivals']/3

e:\users\akhil\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [327]:
final_spend_df.head()

                Team  Total_Arrivals
0    Manchester City      188.030000
1          Liverpool      119.326667
2  Tottenham Hotspur       78.500000
3            Chelsea       90.433333
4  Manchester United      146.700000

In [328]:
final_spend_df.to_csv('..\\Consolidated Data\\Average_Transfer_Budget.csv')