In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get('https://talksport.com/football/557770/most-valuable-players-football-neymar-cristiano-ronaldo-mohamed-salah/')
soup = BeautifulSoup(page.content,'html.parser')

In [3]:
main_content = soup.find(id='main-content')
players = main_content.find_all('h3',attrs={"class":""})

In [4]:
player_list = []
players_list = []
for i in range(0,len(players)):
    if (str(players[i]).find('talksport') != -1):
#         print(players[i])
        rank = (players[i].contents[0][0:players[i].contents[0].find('.')])
        name = (players[i].contents[0][players[i].contents[0].find('.')+2:players[i].contents[0].find('(')-1])
        team = (players[i].contents[1].contents[0])
        value = (players[i].contents[2][players[i].contents[2].find('£'):])
        player_list = [rank,name,team,value]
        players_list.append(player_list)
    else:
        player_dat = players[i].contents[0]
#         print(player_dat)
        rank = (player_dat[0:player_dat.find('.')])
        name = (player_dat[player_dat.find('.')+2:player_dat.find('(')-1])
        team = (player_dat[player_dat.find('(')+1:player_dat.find(')')])
        value = (player_dat[player_dat.find('£'):])
        player_list = [rank,name,team,value]
        players_list.append(player_list)

In [5]:
top_50_players_df = pd.DataFrame.from_records(players_list,columns=['Rank','Player','Team','Value in GBP'])

In [6]:
top_50_players_df

   Rank                     Player                 Team Value in GBP
0    50            Mikel Oyarzabal        Real Sociedad      £67.44m
1    49             Lucas Torreira              Arsenal      £67.53m
2    48                Kai Havertz     Bayer Leverkusen      £68.60m
3    47  Pierre-Emerick Aubameyang              Arsenal      £68.95m
4    46          Rodrigo Bentancur             Juventus      £69.13m
5    45               Thomas Lemar      Atletico Madrid      £69.75m
6    44           Krzysztof Piątek             AC Milan      £70.38m
7    43              Sergio Aguero      Manchester City      £71.44m
8    42            Anthony Martial    Manchester United      £71.80m
9    41             Joshua Kimmich        Bayern Munich      £72.33m
10   40               N’Golo Kante              Chelsea      £74.37m
11   39                John Stones      Manchester City      £74.82m
12   38                Luis Suarez            Barcelona      £75.53m
13   37            Vinicius Junior          Real Madrid      £75.80m
14   36                    Fabinho            Liverpool      £76.60m
15   35              Marco Asensio          Real Madrid      £76.69m
16   34                       Kepa              Chelsea      £77.48m
17   33                      Rodri      Atletico Madrid      £78.37m
18   32           Andrew Robertson            Liverpool      £78.46m
19   31                Saul Niguez      Atletico Madrid      £83.35m
20   30      Marc-Andre ter Stegen            Barcelona      £84.59m
21   29              Heung-min Son    Tottenham Hotspur      £86.37m
22   28                Richarlison              Everton      £87.61m
23   27                  Dele Alli    Tottenham Hotspur      £91.08m
24   26                    Ederson      Manchester City      £91.52m
25   25            Aymeric Laporte      Manchester City      £93.66m
26   24                    Alisson            Liverpool      £95.52m
27   23               Paulo Dybala             Juventus      £96.15m
28   22            Virgil van Dijk            Liverpool      £99.61m
29   21            Ousmane Dembele            Barcelona     £104.05m
30   20          Cristiano Ronaldo             Juventus     £104.94m
31   19                Eden Hazard          Real Madrid     £107.25m
32   18            Marcus Rashford    Manchester United     £109.74m
33   17                     Neymar  Paris Saint-Germain     £110.81m
34   16                 Paul Pogba    Manchester United     £111.16m
35   15              Romelu Lukaku    Manchester United     £111.25m
36   14          Philippe Coutinho            Barcelona     £114.98m
37   13     Trent Alexander-Arnold            Liverpool     £115.69m
38   12              Gabriel Jesus      Manchester City     £116.05m
39   11             Bernardo Silva      Manchester City     £121.65m
40   10                 Leroy Sane      Manchester City     £121.83m
41    9          Antoine Griezmann      Atletico Madrid     £127.78m
42    8            Roberto Firmino            Liverpool     £128.13m
43    7                 Harry Kane    Tottenham Hotspur     £137.91m
44    6                 Sadio Mane            Liverpool     £140.22m
45    5               Jadon Sancho    Borussia Dortmund     £141.64m
46    4               Lionel Messi            Barcelona     £148.75m
47    3            Raheem Sterling      Manchester City     £184.65m
48    2              Mohamed Salah            Liverpool     £195.13m
49    1              Kylian Mbappe  Paris Saint-Germain     £223.92m