In [4]:
import numpy as np
import pandas as pd

In [5]:
from bs4 import BeautifulSoup

In [6]:
import requests

In [7]:
page = requests.get("https://www.soccerstats.com/latest.asp?league=england_2019")
soup = BeautifulSoup(page.content,'html.parser')

In [8]:
table_element = soup.find('table',id='btable')

In [9]:
table_rows = table_element.find_all('tr')

In [10]:
header_row = table_rows[0].find_all('th')

In [11]:
column_names = []
for ele in header_row:
    column_names.append(ele.text.strip())

In [12]:
column_names[0] = 'Ranking'
column_names[1] = 'Team'

In [13]:
column_names.remove('Form')
column_names.remove('PPG')
column_names.remove('CS')
column_names.remove('FTS')

In [14]:
df = pd.DataFrame(columns=column_names)

In [15]:
x=1
for i in range(1,len(table_rows)):
    team_row = table_rows[x].find_all('td')
    team_col_val = []
    for ele in team_row:
        team_col_val.append(ele.text.strip())
    del team_col_val[10:]
    df.loc[i] = team_col_val
    x=x+7
    if i==20:
        break

In [16]:
df.set_index('Ranking')

                    Team  GP   W   D   L  GF  GA   GD Pts
Ranking
1                Chelsea  38  26   9   3  73  32  +41  87
2        Manchester City  38  24   7   7  83  38  +45  79
3                Arsenal  38  22   9   7  71  36  +35  75
4         Manchester Utd  38  20  10   8  62  37  +25  70
5              Tottenham  38  19   7  12  58  53   +5  64
6              Liverpool  38  18   8  12  52  48   +4  62
7            Southampton  38  18   6  14  54  33  +21  60
8           Swansea City  38  16   8  14  46  49   -3  56
9             Stoke City  38  15   9  14  48  45   +3  54
10        Crystal Palace  38  13   9  16  47  51   -4  48
11               Everton  38  12  11  15  48  50   -2  47
12          West Ham Utd  38  12  11  15  44  47   -3  47
13         West Bromwich  38  11  11  16  38  51  -13  44
14        Leicester City  38  11   8  19  46  55   -9  41
15         Newcastle Utd  38  10   9  19  40  63  -23  39
16            Sunderland  38   7  17  14  31  53  -22  38
17           Aston Villa  38  10   8  20  31  57  -26  38
18             Hull City  38   8  11  19  33  51  -18  35
19               Burnley  38   7  12  19  28  53  -25  33
20            QP Rangers  38   8   6  24  42  73  -31  30

In [18]:
x = df.set_index('Ranking')

In [19]:
x

                    Team  GP   W   D   L  GF  GA   GD Pts
Ranking
1                Chelsea  38  26   9   3  73  32  +41  87
2        Manchester City  38  24   7   7  83  38  +45  79
3                Arsenal  38  22   9   7  71  36  +35  75
4         Manchester Utd  38  20  10   8  62  37  +25  70
5              Tottenham  38  19   7  12  58  53   +5  64
6              Liverpool  38  18   8  12  52  48   +4  62
7            Southampton  38  18   6  14  54  33  +21  60
8           Swansea City  38  16   8  14  46  49   -3  56
9             Stoke City  38  15   9  14  48  45   +3  54
10        Crystal Palace  38  13   9  16  47  51   -4  48
11               Everton  38  12  11  15  48  50   -2  47
12          West Ham Utd  38  12  11  15  44  47   -3  47
13         West Bromwich  38  11  11  16  38  51  -13  44
14        Leicester City  38  11   8  19  46  55   -9  41
15         Newcastle Utd  38  10   9  19  40  63  -23  39
16            Sunderland  38   7  17  14  31  53  -22  38
17           Aston Villa  38  10   8  20  31  57  -26  38
18             Hull City  38   8  11  19  33  51  -18  35
19               Burnley  38   7  12  19  28  53  -25  33
20            QP Rangers  38   8   6  24  42  73  -31  30