In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get("https://www.espn.in/football/table/_/league/TUR.1/season/2018")
soup = BeautifulSoup(page.content,'html.parser')

In [4]:
tables = soup.findAll("table")

In [5]:
table_rows = tables[0].find_all('tr')

In [158]:
big_list = []
for i in range(22,len(table_rows)):    
    x = table_rows[i].find_all("span")
    row_list=[]
    for j in range(0,len(x)):
        row_list.append(x[j].contents[0])
    big_list.append(row_list)
df = pd.DataFrame(big_list, columns =['GP','W','D','L','F','A','GD','P'])

22
['34', '20', '9', '5', '72', '36', '+36', '69']
23
['34', '19', '10', '5', '49', '22', '+27', '67']
24
['34', '19', '8', '7', '72', '46', '+26', '65']
25
['34', '18', '9', '7', '64', '46', '+18', '63']
26
['34', '13', '8', '13', '47', '46', '+1', '47']
27
['34', '11', '13', '10', '44', '44', '0', '46']
28
['34', '13', '6', '15', '39', '55', '-16', '45']
29
['34', '9', '17', '8', '40', '38', '+2', '44']
30
['34', '12', '8', '14', '37', '43', '-6', '44']
31
['34', '10', '11', '13', '35', '50', '-15', '41']
32
['34', '9', '14', '11', '48', '50', '-2', '41']
33
['34', '10', '11', '13', '49', '54', '-5', '41']
34
['34', '11', '7', '16', '38', '53', '-15', '40']
35
['34', '11', '6', '17', '53', '62', '-9', '39']
36
['34', '11', '5', '18', '37', '42', '-5', '38']
37
['34', '7', '16', '11', '28', '37', '-9', '37']
38
['34', '8', '11', '15', '36', '43', '-7', '35']
39
['34', '6', '9', '19', '33', '54', '-21', '27']
[['34', '20', '9', '5', '72', '36', '+36', '69'], ['34', '19', '10', '5', '49', '22', '+27', '67'], ['34', '19', '8', '7', '72', '46', '+26', '65'], ['34', '18', '9', '7', '64', '46', '+18', '63'], ['34', '13', '8', '13', '47', '46', '+1', '47'], ['34', '11', '13', '10', '44', '44', '0', '46'], ['34', '13', '6', '15', '39', '55', '-16', '45'], ['34', '9', '17', '8', '40', '38', '+2', '44'], ['34', '12', '8', '14', '37', '43', '-6', '44'], ['34', '10', '11', '13', '35', '50', '-15', '41'], ['34', '9', '14', '11', '48', '50', '-2', '41'], ['34', '10', '11', '13', '49', '54', '-5', '41'], ['34', '11', '7', '16', '38', '53', '-15', '40'], ['34', '11', '6', '17', '53', '62', '-9', '39'], ['34', '11', '5', '18', '37', '42', '-5', '38'], ['34', '7', '16', '11', '28', '37', '-9', '37'], ['34', '8', '11', '15', '36', '43', '-7', '35'], ['34', '6', '9', '19', '33', '54', '-21', '27']]

In [159]:
print(df)

    GP   W   D   L   F   A   GD   P
0   34  20   9   5  72  36  +36  69
1   34  19  10   5  49  22  +27  67
2   34  19   8   7  72  46  +26  65
3   34  18   9   7  64  46  +18  63
4   34  13   8  13  47  46   +1  47
5   34  11  13  10  44  44    0  46
6   34  13   6  15  39  55  -16  45
7   34   9  17   8  40  38   +2  44
8   34  12   8  14  37  43   -6  44
9   34  10  11  13  35  50  -15  41
10  34   9  14  11  48  50   -2  41
11  34  10  11  13  49  54   -5  41
12  34  11   7  16  38  53  -15  40
13  34  11   6  17  53  62   -9  39
14  34  11   5  18  37  42   -5  38
15  34   7  16  11  28  37   -9  37
16  34   8  11  15  36  43   -7  35
17  34   6   9  19  33  54  -21  27

In [146]:
df = pd.DataFrame(columns=['GP','W','D','L','F','A','GD','P'])
row_list = ['34', '6', '9', '19', '33', '54', '-21', '27']
df.loc[0] = row_list
row_list = ['34', '6', '9', '19', '33', '54', '-21', '27']
df.loc[1] = row_list
df

   GP  W  D   L   F   A   GD   P
0  34  6  9  19  33  54  -21  27
1  34  6  9  19  33  54  -21  27

In [70]:
table_rows[22].find_all("span")[0].contents[0]

'34'

In [78]:
full_row = table_rows[22].find_all("span")

In [80]:
for i in range(0,len(full_row)):
    print(table_rows[39].find_all("span")[i].contents[0])

34
6
9
19
33
54
-21
27

In [77]:
table_rows[39].find_all("span")[1].contents[0]

'6'

In [50]:
header_row = table_rows[0].find_all('th')

In [53]:
first_row = table_rows[1].find_all('th')

In [56]:
data = table_rows[1].find_all('td')

In [57]:
data

[]