In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
player_data = pd.read_csv('..\\Consolidated Data\\Player_Attribute_Data.csv')
team_rankings = pd.read_csv('..\\Consolidated Data\\Team Rankings_corrected.csv')

In [4]:
team_rankings=team_rankings.drop(['Unnamed: 0'],axis=1)

In [5]:
player_df = player_data[['sofifa_id','club', 'overall','position', 'section', 'role']]

In [6]:
player_df['role'].unique()

array(['Attack', 'Defend', 'Support'], dtype=object)

In [7]:
combo_df = pd.merge(player_df,team_rankings,how='inner',left_on='club',right_on='Team')

In [8]:
combo_df=combo_df.drop(['sofifa_id','club','Team'],axis=1)

In [9]:
role_df = combo_df.groupby(['role','Tier']).mean()

In [10]:
role_df.reset_index(inplace = True)

In [11]:
def club_level(club):
    club_tier = (team_rankings[team_rankings['Team'] == club]['Tier']).values[0]
    club_df = player_data[player_data['club']==club][['overall','section','role']]
    club_df = club_df.groupby(['role']).mean()
    club_df = club_df.reset_index()
    upper_tier_df = role_df[role_df['Tier']==(club_tier-1)]
    upper_tier_df = upper_tier_df.reset_index()
    upper_tier_df = upper_tier_df.drop(['index','Tier'],axis=1)
    combo_df = pd.merge(upper_tier_df,club_df,how='inner',on='role')
    combo_df.columns = ['Role','Upper_Tier_Rating','Club_Rating']
    combo_df['Rating_Gap'] = combo_df['Upper_Tier_Rating'] - combo_df['Club_Rating']
#     return combo_df
    role_focus = combo_df[combo_df['Rating_Gap']==combo_df['Rating_Gap'].values.max()]['Role'].values[0]
    return role_focus

In [12]:
x= club_level('Liverpool')

In [13]:
print(x)

Support

In [14]:
player_df = player_data[['sofifa_id','short_name','long_name','club', 'overall','position', 'section', 'role']]

In [15]:
player_df[player_df['role']=='Support'].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role
8,177003,L. Modrić,Luka Modrić,Real Madrid,90,CM,Midfield,Support
24,195864,P. Pogba,Paul Pogba,Manchester United,88,CM,Midfield,Support
36,182521,T. Kroos,Toni Kroos,Real Madrid,88,CM,Midfield,Support
52,189509,Thiago,Thiago Alcântara do Nascimento,FC Bayern München,87,CM,Midfield,Support
58,199556,M. Verratti,Marco Verratti,Paris Saint-Germain,86,CM,Midfield,Support