In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
player_data = pd.read_csv('..\\Consolidated Data\\Player_Attribute_Data.csv')
team_rankings = pd.read_csv('..\\Consolidated Data\\Team Rankings_corrected.csv')

In [43]:
player_data.head()

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,nationality,club,overall,value_eur,...,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,section,role
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,Argentina,FC Barcelona,94,95500000,...,33,37,26,6,11,15,14,8,Forward,Attack
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,Portugal,Juventus,93,58500000,...,28,32,24,7,11,15,14,11,Forward,Attack
2,2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,Brazil,Paris Saint-Germain,92,105500000,...,27,26,29,9,9,15,15,11,Forward,Attack
3,3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,Slovenia,Atlético Madrid,91,77500000,...,27,12,18,87,92,78,90,89,Goalkeeper,Defend
4,4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,Belgium,Real Madrid,91,90000000,...,34,27,22,11,12,6,8,8,Forward,Attack

In [44]:
team_rankings=team_rankings.drop(['Unnamed: 0'],axis=1)

In [45]:
player_df = player_data[['sofifa_id','club', 'overall','position', 'section', 'role']]

In [46]:
player_df['role'].unique()

array(['Attack', 'Defend', 'Support'], dtype=object)

In [175]:
combo_df = pd.merge(player_df,team_rankings,how='inner',left_on='club',right_on='Team')

In [176]:
combo_df=combo_df.drop(['sofifa_id','club','Team'],axis=1)

In [49]:
role_df = combo_df.groupby(['role','Tier']).mean()

In [50]:
role_df.reset_index(inplace = True)

In [51]:
def club_level(club):
    club_tier = (team_rankings[team_rankings['Team'] == club]['Tier']).values[0]
    club_df = player_data[player_data['club']==club][['overall','section','role']]
    club_df = club_df.groupby(['role']).mean()
    club_df = club_df.reset_index()
    upper_tier_df = role_df[role_df['Tier']==(club_tier-1)]
    upper_tier_df = upper_tier_df.reset_index()
    upper_tier_df = upper_tier_df.drop(['index','Tier'],axis=1)
    combo_df = pd.merge(upper_tier_df,club_df,how='inner',on='role')
    combo_df.columns = ['Role','Upper_Tier_Rating','Club_Rating']
    combo_df['Rating_Gap'] = combo_df['Upper_Tier_Rating'] - combo_df['Club_Rating']
#     return combo_df
    role_focus = combo_df[combo_df['Rating_Gap']==combo_df['Rating_Gap'].values.max()]['Role'].values[0]
    return role_focus

In [180]:
club_role= club_level('Manchester City')

KeyError: 'Tier'

In [140]:
print(club_role)

Support

In [54]:
player_df = player_data[['sofifa_id','short_name','long_name','club', 'overall','position', 'section', 'role','age','value_eur']]

In [55]:
player_df[player_df['role']=='Support'].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role,age,value_eur
8,177003,L. Modrić,Luka Modrić,Real Madrid,90,CM,Midfield,Support,33,45000000
24,195864,P. Pogba,Paul Pogba,Manchester United,88,CM,Midfield,Support,26,72500000
36,182521,T. Kroos,Toni Kroos,Real Madrid,88,CM,Midfield,Support,29,57000000
52,189509,Thiago,Thiago Alcântara do Nascimento,FC Bayern München,87,CM,Midfield,Support,28,50000000
58,199556,M. Verratti,Marco Verratti,Paris Saint-Germain,86,CM,Midfield,Support,26,54500000

In [56]:
player_df['value_in_mil'] = player_df['value_eur']/1000000

c:\users\akhil_s_bhat\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
player_df[player_df['role']=='Support'].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role,age,value_eur,value_in_mil
8,177003,L. Modrić,Luka Modrić,Real Madrid,90,CM,Midfield,Support,33,45000000,45.0
24,195864,P. Pogba,Paul Pogba,Manchester United,88,CM,Midfield,Support,26,72500000,72.5
36,182521,T. Kroos,Toni Kroos,Real Madrid,88,CM,Midfield,Support,29,57000000,57.0
52,189509,Thiago,Thiago Alcântara do Nascimento,FC Bayern München,87,CM,Midfield,Support,28,50000000,50.0
58,199556,M. Verratti,Marco Verratti,Paris Saint-Germain,86,CM,Midfield,Support,26,54500000,54.5

In [75]:
player_df[player_df['age']>21].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role,age,value_eur,value_in_mil
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,FC Barcelona,94,RW,Forward,Attack,32,95500000,95.5
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Juventus,93,ST,Forward,Attack,34,58500000,58.5
2,190871,Neymar Jr,Neymar da Silva Santos Junior,Paris Saint-Germain,92,LW,Forward,Attack,27,105500000,105.5
3,200389,J. Oblak,Jan Oblak,Atlético Madrid,91,GK,Goalkeeper,Defend,26,77500000,77.5
4,183277,E. Hazard,Eden Hazard,Real Madrid,91,LW,Forward,Attack,28,90000000,90.0

In [78]:
age_df = player_df[['club','age']].groupby('club').mean()

In [79]:
age_df['age'] = round(age_df['age'],2)

In [90]:
age_df = age_df.reset_index()

In [111]:
target_age = age_df[age_df['club'] == 'Liverpool']

In [119]:
target_age=target_age['age'].values[0]

In [58]:
spend_df = pd.read_csv('..\\Consolidated Data\\Average_Transfer_Budget.csv')

In [71]:
spend_df.head()

   Unnamed: 0               Team  Total_Arrivals
0           0    Manchester City      188.030000
1           1          Liverpool      119.326667
2           2  Tottenham Hotspur       78.500000
3           3            Chelsea       90.433333
4           4  Manchester United      146.700000

In [125]:
player_df[(player_df['age']>=(target_age-2)) & (player_df['age']<=(target_age+2))].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role,age,value_eur,value_in_mil
3,200389,J. Oblak,Jan Oblak,Atlético Madrid,91,GK,Goalkeeper,Defend,26,77500000,77.5
12,202126,H. Kane,Harry Kane,Tottenham Hotspur,89,ST,Forward,Attack,25,83000000,83.0
13,212831,Alisson,Alisson Ramses Becker,Liverpool,89,GK,Goalkeeper,Defend,26,58000000,58.0
23,211110,P. Dybala,Paulo Bruno Exequiel Dybala,Juventus,88,CAM,Midfield,Attack,25,76500000,76.5
24,195864,P. Pogba,Paul Pogba,Manchester United,88,CM,Midfield,Support,26,72500000,72.5

In [133]:
spend_limit = (spend_df[spend_df['Team']=='Liverpool']['Total_Arrivals'].values[0])

In [134]:
spend_limit

119.32666666666668

In [138]:
player_df[player_df['value_in_mil']<spend_limit].head()

,sofifa_id,short_name,long_name,club,overall,position,section,role,age,value_eur,value_in_mil
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,FC Barcelona,94,RW,Forward,Attack,32,95500000,95.5
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Juventus,93,ST,Forward,Attack,34,58500000,58.5
2,190871,Neymar Jr,Neymar da Silva Santos Junior,Paris Saint-Germain,92,LW,Forward,Attack,27,105500000,105.5
3,200389,J. Oblak,Jan Oblak,Atlético Madrid,91,GK,Goalkeeper,Defend,26,77500000,77.5
4,183277,E. Hazard,Eden Hazard,Real Madrid,91,LW,Forward,Attack,28,90000000,90.0

In [141]:
role_df = player_df[player_df['role']==club_role]

In [145]:
age_range_df = role_df[(role_df['age']>=(target_age-1.5)) & (role_df['age']<=(target_age+1.5))].head()

In [148]:
age_range_df.head(1)['short_name'].values[0]

'S. Milinković-Savić'

In [149]:
player_data.head(2)

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,nationality,club,overall,value_eur,...,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,section,role
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,Argentina,FC Barcelona,94,95500000,...,33,37,26,6,11,15,14,8,Forward,Attack
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,Portugal,Juventus,93,58500000,...,28,32,24,7,11,15,14,11,Forward,Attack

In [153]:
player_data[['short_name','position']].head(2)

          short_name position
0           L. Messi       RW
1  Cristiano Ronaldo       ST

In [178]:
def club_gap(club):
    club_tier = (team_rankings[team_rankings['Team'] == club]['Tier']).values[0]
    club_df = player_data[player_data['club']==club][['overall','section','position']]
    club_df = club_df.groupby(['position']).mean()
    club_df = club_df.reset_index()
    upper_tier_df = role_df[role_df['Tier']==(club_tier-1)]
    upper_tier_df = upper_tier_df.reset_index()
    upper_tier_df = upper_tier_df.drop(['index','Tier'],axis=1)
    combo_df = pd.merge(upper_tier_df,club_df,how='inner',on='position')
    combo_df.columns = ['Position','Upper_Tier_Rating','Club_Rating']
    combo_df['Rating_Gap'] = combo_df['Upper_Tier_Rating'] - combo_df['Club_Rating']
#     return combo_df
    pos_focus = combo_df[combo_df['Rating_Gap']==combo_df['Rating_Gap'].values.max()]['Position'].values[0]
    return pos_focus

In [179]:
club_gap('Liverpool')

KeyError: 'Tier'

In [177]:
club_tier = (team_rankings[team_rankings['Team'] == 'Liverpool']['Tier']).values[0]
club_df = player_data[player_data['club']=='Liverpool'][['overall','section','position']]
club_df = club_df.groupby(['position']).mean()
club_df = club_df.reset_index()
pos_df = combo_df.groupby(['position','Tier']).mean()
pos_df.reset_index(inplace = True)
upper_tier_df = pos_df[pos_df['Tier']==(club_tier-1)]
upper_tier_df = upper_tier_df.reset_index()
upper_tier_df = upper_tier_df.drop(['index','Tier'],axis=1)
combo_df = pd.merge(upper_tier_df,club_df,how='inner',on='position')
combo_df.columns = ['Position','Upper_Tier_Rating','Club_Rating']
combo_df['Rating_Gap'] = combo_df['Upper_Tier_Rating'] - combo_df['Club_Rating']

ValueError: Length mismatch: Expected axis has 6 elements, new values have 3 elements

In [172]:
combo_df.head()

  Position  Upper_Tier_Rating  Club_Rating  Rating_Gap
0       CB           78.52381        79.60    -1.07619
1      CDM           80.00000        84.00    -4.00000
2       CF           88.00000        86.00     2.00000
3       CM           79.50000        75.00     4.50000
4       GK           76.00000        72.25     3.75000

In [164]:
club_df

  position    overall
0       CB  79.600000
1      CDM  84.000000
2       CF  86.000000
3       CM  75.000000
4       GK  72.250000
5       LB  68.000000
6       LW  80.500000
7       RB  74.333333
8       RW  86.000000
9       ST  67.333333