In [4]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [5]:
def build_data_frame(league,season):
    league_url = 'https://www.soccerstats.com/latest.asp?league='+league+'_'+str(season)
    page = requests.get(league_url)
    soup = BeautifulSoup(page.content,'html.parser')
    table_element = soup.find('table',id='btable')
    table_rows = table_element.find_all('tr')
    header_row = table_rows[0].find_all('th')
    column_names = []
    for ele in header_row:
        column_names.append(ele.text.strip().upper())
    column_names[0] = 'RANKING'
    column_names[1] = 'TEAM'
    column_names.remove('FORM')
    column_names.remove('PPG')
    column_names.remove('CS')
    column_names.remove('FTS')
    if season > 2017:
        column_names.remove('LAST 8')
    df = pd.DataFrame(columns=column_names)
    x=1
    for i in range(1,len(table_rows)):
        team_row = table_rows[x].find_all('td')
        team_col_val = []
        for ele in team_row:
            team_col_val.append(ele.text.strip())
        del team_col_val[10:]
        df.loc[i] = team_col_val
        x=x+7
        if (league == 'netherlands' or league == 'germany'):
            if i==18:
                break;
        else:
            if i==20:
                break
    dataframe = df.set_index('RANKING')
    return dataframe

In [6]:
df_spain_2015 = build_data_frame('spain',2015)

In [7]:
df_spain_2015

                    TEAM  GP   W   D   L   GF  GA   GD PTS
RANKING
1           FC Barcelona  38  30   4   4  110  21  +89  94
2            Real Madrid  38  30   2   6  118  38  +80  92
3        Atletico Madrid  38  23   9   6   67  29  +38  78
4               Valencia  38  22  11   5   70  32  +38  77
5             FC Sevilla  38  23   7   8   71  45  +26  76
6             Villarreal  38  16  12  10   48  37  +11  60
7        Athletic Bilbao  38  15  10  13   42  41   +1  55
8             Celta Vigo  38  13  12  13   47  44   +3  51
9                 Malaga  38  14   8  16   42  48   -6  50
10              Espanyol  38  13  10  15   47  51   -4  49
11        Rayo Vallecano  38  15   4  19   46  68  -22  49
12         Real Sociedad  38  11  13  14   44  51   -7  46
13                 Elche  38  11   8  19   35  62  -27  41
14               Levante  38   9  10  19   34  67  -33  37
15                Getafe  38  10   7  21   33  64  -31  37
16             Deportivo  38   7  14  17   35  60  -25  35
17               Granada  38   7  14  17   29  64  -35  35
18                 Eibar  38   9   8  21   34  55  -21  35
19               Almeria  38   8   8  22   35  64  -29  32
20               Cordoba  38   3  11  24   22  68  -46  20

In [13]:
df_spain_2015

                    TEAM  GP   W   D   L   GF  GA   GD PTS
RANKING
1           FC Barcelona  38  30   4   4  110  21  +89  94
2            Real Madrid  38  30   2   6  118  38  +80  92
3        Atletico Madrid  38  23   9   6   67  29  +38  78
4               Valencia  38  22  11   5   70  32  +38  77
5             FC Sevilla  38  23   7   8   71  45  +26  76
6             Villarreal  38  16  12  10   48  37  +11  60
7        Athletic Bilbao  38  15  10  13   42  41   +1  55
8             Celta Vigo  38  13  12  13   47  44   +3  51
9                 Malaga  38  14   8  16   42  48   -6  50
10              Espanyol  38  13  10  15   47  51   -4  49
11        Rayo Vallecano  38  15   4  19   46  68  -22  49
12         Real Sociedad  38  11  13  14   44  51   -7  46
13                 Elche  38  11   8  19   35  62  -27  41
14               Levante  38   9  10  19   34  67  -33  37
15                Getafe  38  10   7  21   33  64  -31  37
16             Deportivo  38   7  14  17   35  60  -25  35
17               Granada  38   7  14  17   29  64  -35  35
18                 Eibar  38   9   8  21   34  55  -21  35
19               Almeria  38   8   8  22   35  64  -29  32
20               Cordoba  38   3  11  24   22  68  -46  20