In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [5]:
#Use Beautiful Soup to pull all contents of the web-page
page = requests.get('https://en.wikipedia.org/wiki/Deloitte_Football_Money_League')
soup = BeautifulSoup(page.content,'html.parser')

In [6]:
#Find all tables in the page
tables = soup.findAll("table")

In [ ]:
tables[0]

In [9]:
header_rows = tables[0].find_all('th')

In [15]:
header_rows[0].contents[0].rstrip()

[<th style="width:65px;">Ranking
</th>, <th style="width:65px;">Country
</th>, <th style="width:65px;">Number of Teams
</th>, <th style="width:75px;">Total Revenue (€ million)
</th>]
[<th scope="col" width="60">2019 <br/> Rank
</th>, <th scope="col" width="170">Club
</th>, <th scope="col" width="90">Revenue <br/>(<a href="/wiki/Euro" title="Euro">€</a> million)
</th>, <th scope="col" width="130">Country
</th>, <th scope="col" width="60">2018 <br/> Rank
</th>, <th scope="col" width="50">Change
</th>]
[<th style="width:65px;">Ranking
</th>, <th style="width:65px;">Country
</th>, <th style="width:65px;">Number of Teams
</th>, <th style="width:75px;">Total Revenue (€ million)
</th>]
[<th scope="col" width="60">2018 <br/> Rank
</th>, <th scope="col" width="170">Club
</th>, <th scope="col" width="90">Revenue <br/>(<a href="/wiki/Euro" title="Euro">€</a> million)
</th>, <th scope="col" width="130">Country
</th>, <th scope="col" width="60">2017 <br/> Rank
</th>, <th scope="col" width="50">Change
</th>]

In [50]:
header_names=[]
for i in range(0,len(header_rows)):
    header_names.append(header_rows[i].contents[0].rstrip())

In [51]:
header_names

['Ranking', 'Country', 'Number of Teams', 'Total Revenue (€ million)']

In [31]:
team_list = pd.DataFrame(columns=header_names)

In [32]:
team_list

Empty DataFrame
Columns: [Ranking, Country, Number of Teams, Total Revenue]
Index: []

In [67]:
tables[0].find_all('tr')[1].contents[1].contents[0].rstrip()

'1'

In [72]:
tables[0].find_all('tr')[1].contents[3].findAll('a')[0]['title']

'England'

In [74]:
tables[0].find_all('tr')[1].contents[5].contents[0].rstrip()

'13'

In [76]:
tables[0].find_all('tr')[1].contents[7].contents[0].rstrip()

'4411.4'

In [77]:
tables[0].find_all('tr')[2].contents[7].contents[0].rstrip()

'1316.2'

In [49]:
tables[0].find_all('td')[2].contents[0].rstrip()

'13'

In [54]:
tables[0].find_all('td')[3].contents[0].rstrip()

'4411.4'

In [55]:
clubs_data = tables[0].find_all('td')

In [96]:
tables[0].find_all('tr')[7].contents[1].findAll('a')[0]['title']

'Turkey'

In [101]:
team_list=[]
for i in range(1,len(tables[0].find_all('tr'))):
    if (i<=6):
        rank = (tables[0].find_all('tr')[i].contents[1].contents[0].rstrip())
        league = (tables[0].find_all('tr')[i].contents[3].findAll('a')[0]['title'])
        number_of_teams = (tables[0].find_all('tr')[i].contents[5].contents[0].rstrip())
        total_revenue = (tables[0].find_all('tr')[i].contents[7].contents[0].rstrip())
        temp_list = [rank,league,number_of_teams,total_revenue]
        team_list.append(temp_list)
    else:
        rank = 6
        league = (tables[0].find_all('tr')[i].contents[1].findAll('a')[0]['title'])
        number_of_teams = (tables[0].find_all('tr')[i].contents[3].contents[0].rstrip())
        total_revenue = (tables[0].find_all('tr')[i].contents[5].contents[0].rstrip())
        temp_list = [rank,league,number_of_teams,total_revenue]
        team_list.append(temp_list)

In [102]:
team_list

[['1', 'England', '13', '4411.4'],
 ['2', 'Italy', '5', '1316.2'],
 ['3', 'Spain', '4', '1910.9'],
 ['4', 'Germany', '3', '1190.2'],
 ['5', 'France', '2', '705.9'],
 ['6', 'Russia', '1', '167.8'],
 [6, 'Turkey', '1', '165.7'],
 [6, 'Portugal', '1', '150.7']]

In [103]:
team_df = pd.DataFrame.from_records(team_list,columns=header_names)

In [104]:
team_df

  Ranking   Country Number of Teams Total Revenue (€ million)
0       1   England              13                    4411.4
1       2     Italy               5                    1316.2
2       3     Spain               4                    1910.9
3       4   Germany               3                    1190.2
4       5    France               2                     705.9
5       6    Russia               1                     167.8
6       6    Turkey               1                     165.7
7       6  Portugal               1                     150.7