In [49]:
import numpy as np
import pandas as pd

In [50]:
champions_league_df = pd.read_csv('..\\Consolidated Data\\Champions_League_Data.csv')
cl_in_scope_df = champions_league_df.loc[champions_league_df.loc[champions_league_df['Season']==2005].index[0]:champions_league_df.loc[champions_league_df['Season']==2019].index[0]]
cl_teams = cl_in_scope_df['Winners'].append(cl_in_scope_df['Runner Up']).append(cl_in_scope_df['SF1']).append(cl_in_scope_df['SF2'])
cl_teams = cl_teams.unique()

In [51]:
range1_start = int(cl_in_scope_df['Season'].max())
range2_start = range1_start-3
range3_start = range2_start-3
range4_start = range3_start-3
range5_start = range4_start-3
range_dict = {"range1_start":range1_start,"range2_start":range2_start,"range3_start":range3_start,"range4_start":range4_start,"range5_start":range5_start}

In [52]:
final_df = pd.DataFrame(columns=['Team','Range1_Win','Range2_Win','Range3_Win','Range4_Win','Range5_Win','Range1_Run','Range2_Run','Range3_Run','Range4_Run','Range5_Run','Range1_SF','Range2_SF','Range3_SF','Range4_SF','Range5_SF'])

In [53]:
final_df['Team'] = cl_teams
final_df = final_df.set_index('Team')

In [54]:
final_df=final_df.fillna(0)

In [55]:
cl_range_1 = cl_in_scope_df.loc[61:63]
range1_winners = cl_range_1.groupby(['Winners']).count()['Season']
range1_runners = cl_range_1.groupby(['Runner Up']).count()['Season']
range1_sf1 = cl_range_1.groupby(['SF1']).count()['Season']
range1_sf2 = cl_range_1.groupby(['SF2']).count()['Season']
range1_sf = range1_sf1.append(range1_sf2)
range1_sf_df = range1_sf.to_frame()
range1_sf_df.index.name = 'Team'
range1_sf = range1_sf_df.groupby(['Team']).sum()['Season']

In [56]:
df = range1_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_Win'] = range1_winners[i]

df = range1_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_Run'] = range1_runners[i]

df = range1_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_SF'] = range1_sf[i]

In [57]:
cl_range_2 = cl_in_scope_df.loc[58:60]
range2_winners = cl_range_2.groupby(['Winners']).count()['Season']
range2_runners = cl_range_2.groupby(['Runner Up']).count()['Season']
range2_sf1 = cl_range_2.groupby(['SF1']).count()['Season']
range2_sf2 = cl_range_2.groupby(['SF2']).count()['Season']
range2_sf = range2_sf1.append(range2_sf2)
range2_sf_df = range2_sf.to_frame()
range2_sf_df.index.name = 'Team'
range2_sf = range2_sf_df.groupby(['Team']).sum()['Season']

In [58]:
df = range2_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range2_Win'] = range2_winners[i]

df = range2_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range2_Run'] = range2_runners[i]

df = range2_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range2_SF'] = range2_sf[i]

In [59]:
cl_range_3 = cl_in_scope_df.loc[55:57]
range3_winners = cl_range_3.groupby(['Winners']).count()['Season']
range3_runners = cl_range_3.groupby(['Runner Up']).count()['Season']
range3_sf1 = cl_range_3.groupby(['SF1']).count()['Season']
range3_sf2 = cl_range_3.groupby(['SF2']).count()['Season']
range3_sf = range3_sf1.append(range3_sf2)
range3_sf_df = range3_sf.to_frame()
range3_sf_df.index.name = 'Team'
range3_sf = range3_sf_df.groupby(['Team']).sum()['Season']

In [60]:
df = range3_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range3_Win'] = range3_winners[i]

df = range3_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range3_Run'] = range3_runners[i]

df = range3_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range3_SF'] = range3_sf[i]

In [61]:
cl_range_4 = cl_in_scope_df.loc[52:54]
range4_winners = cl_range_4.groupby(['Winners']).count()['Season']
range4_runners = cl_range_4.groupby(['Runner Up']).count()['Season']
range4_sf1 = cl_range_4.groupby(['SF1']).count()['Season']
range4_sf2 = cl_range_4.groupby(['SF2']).count()['Season']
range4_sf = range4_sf1.append(range4_sf2)
range4_sf_df = range4_sf.to_frame()
range4_sf_df.index.name = 'Team'
range4_sf = range4_sf_df.groupby(['Team']).sum()['Season']

In [62]:
df = range4_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range4_Win'] = range4_winners[i]

df = range4_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range4_Run'] = range4_runners[i]

df = range4_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range4_SF'] = range4_sf[i]

In [63]:
cl_range_5 = cl_in_scope_df.loc[49:53]
range5_winners = cl_range_5.groupby(['Winners']).count()['Season']
range5_runners = cl_range_5.groupby(['Runner Up']).count()['Season']
range5_sf1 = cl_range_5.groupby(['SF1']).count()['Season']
range5_sf2 = cl_range_5.groupby(['SF2']).count()['Season']
range5_sf = range5_sf1.append(range5_sf2)
range5_sf_df = range5_sf.to_frame()
range5_sf_df.index.name = 'Team'
range5_sf = range5_sf_df.groupby(['Team']).sum()['Season']

In [64]:
df = range5_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range5_Win'] = range5_winners[i]

df = range5_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range5_Run'] = range5_runners[i]

df = range5_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range5_SF'] = range5_sf[i]

In [66]:
final_df

,Range1_Win,Range2_Win,Range3_Win,Range4_Win,Range5_Win,Range1_Run,Range2_Run,Range3_Run,Range4_Run,Range5_Run,Range1_SF,Range2_SF,Range3_SF,Range4_SF,Range5_SF
Team,,,,,,,,,,,,,,,
Liverpool,1,0,0,0,1,1,0,0,0,1,0,0,0,1,1
Barcelona,0,1,1,1,2,0,0,0,0,0,1,0,2,2,1
Milan,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
Manchester United,0,0,0,1,1,0,0,1,1,1,0,0,0,0,1
Internazionale,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Chelsea,0,0,1,0,0,0,0,0,1,1,0,1,0,1,3
Bayern Munich,0,0,1,0,0,0,0,1,1,0,1,3,0,0,0
Real Madrid,2,2,0,0,0,0,0,0,0,0,0,1,3,0,0
Arsenal,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1
Borussia Dortmund,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Atlético Madrid,0,0,0,0,0,0,2,0,0,0,1,0,0,0,0
Juventus,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0
Tottenham Hotspur,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
PSV Eindhoven,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Villarreal,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Lyon,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Schalke 04,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Manchester City,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
Monaco,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Roma,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Ajax,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0