In [73]:
import numpy as np
import pandas as pd
import re
import unicodedata

In [74]:
prm_lg_valuations_df = pd.read_csv('..\\..\\Consolidated Data\\Premier League Club Valuations.csv',usecols=['Club','Total Market Value','League'])
prm_lg_valuations_df = prm_lg_valuations_df.rename(columns={'Club':'Team'})

In [75]:
prm_lg_postions_df = pd.read_csv('..\\..\\Consolidated Data\\Premier League Average Positions.csv')

In [76]:
prm_lg_combined_df = prm_lg_postions_df.merge(prm_lg_valuations_df,how='outer',on='Team')

In [77]:
prm_lg_temp_df = prm_lg_combined_df.dropna()

prm_lg_next_df = pd.concat([prm_lg_combined_df,prm_lg_temp_df]).drop_duplicates(keep=False)
prm_lg_next_df = prm_lg_next_df.reset_index(drop=True)

In [78]:
for i in range(prm_lg_next_df[prm_lg_next_df['Total Market Value'].isnull()].head(1).index[0],prm_lg_next_df[prm_lg_next_df['Total Market Value'].isnull()].tail(1).index[0]):
    for j in range(prm_lg_next_df[prm_lg_next_df['Avg_Pos'].isnull()].head(1).index[0],prm_lg_next_df[prm_lg_next_df['Avg_Pos'].isnull()].tail(1).index[0]):
        search = re.search(prm_lg_next_df.loc[i]['Team'],prm_lg_next_df.loc[j]['Team'],re.UNICODE)
        if search is not None:
            clean = search.group()
            prm_lg_next_df.loc[i] = prm_lg_next_df.loc[i].combine_first(prm_lg_next_df.loc[j])
            break

In [79]:
prm_lg_next_df.loc[8] = prm_lg_next_df.loc[8].combine_first(prm_lg_next_df.loc[18])
prm_lg_next_df.loc[9] = prm_lg_next_df.loc[9].combine_first(prm_lg_next_df.loc[22])
prm_lg_next_df.loc[12] = prm_lg_next_df.loc[12].combine_first(prm_lg_next_df.loc[35])
prm_lg_next_df.loc[17] = prm_lg_next_df.loc[17].combine_first(prm_lg_next_df.loc[28])

In [80]:
prm_lg_combined_df = pd.concat([prm_lg_combined_df.dropna(), prm_lg_next_df.dropna()])

In [81]:
prm_lg_combined_df=prm_lg_combined_df.reset_index(drop=True)

In [82]:
champ_league_data_df = pd.read_csv('..\\..\\Consolidated Data\\Champions_League_CLub_Level.csv')

champ_league_data_df.iloc[10, champ_league_data_df.columns.get_loc('Team')] = 'Man Utd'
champ_league_data_df.iloc[10, champ_league_data_df.columns.get_loc('Team')] = 'Tottenhamr'
champ_league_data_df.iloc[10, champ_league_data_df.columns.get_loc('Team')] = 'Manc City'

prm_lg_combined_df=prm_lg_combined_df.merge(champ_league_data_df,how='left',on='Team')

prm_lg_combined_df = prm_lg_combined_df.fillna(0)

In [83]:
europa_league_data_df = pd.read_csv('..\\..\\Consolidated Data\\Europa_League_CLub_Level.csv')

europa_league_data_df.iloc[7, champ_league_data_df.columns.get_loc('Team')] = 'Man Utd'

prm_lg_combined_df=prm_lg_combined_df.merge(europa_league_data_df,how='left',on='Team')

prm_lg_combined_df = prm_lg_combined_df.fillna(0)

In [84]:
prm_lg_combined_df.columns = ['Team', 'Avg_Pos', 'Total Market Value', 'League', 'Range1_Win_CL',
       'Range2_Win_CL', 'Range3_Win_CL', 'Range4_Win_CL', 'Range5_Win_CL',
       'Range1_Run_CL', 'Range2_Run_CL', 'Range3_Run_CL', 'Range4_Run_CL',
       'Range5_Run_CL', 'Range1_SF_CL', 'Range2_SF_CL', 'Range3_SF_CL',
       'Range4_SF_CL', 'Range5_SF_CL', 'Range1_Win_EL', 'Range2_Win_EL',
       'Range3_Win_EL', 'Range4_Win_EL', 'Range5_Win_EL', 'Range1_Run_EL',
       'Range2_Run_EL', 'Range3_Run_EL', 'Range4_Run_EL', 'Range5_Run_EL',
       'Range1_SF_EL', 'Range2_SF_EL', 'Range3_SF_EL', 'Range4_SF_EL',
       'Range5_SF_EL']

In [85]:
world_cup_data_df = pd.read_csv('..\\..\\Consolidated Data\\World Cup Data at Club Level.csv')

In [86]:
world_cup_data_df[world_cup_data_df['League'] ==  'Premier League']

                       Club          League  Name
5                   Arsenal  Premier League     7
6               Aston Villa  Premier League     3
15                  Burnley  Premier League     2
17                  Chelsea  Premier League    11
18           Crystal Palace  Premier League     2
20                  Everton  Premier League     3
26           Leicester City  Premier League     8
28                Liverpool  Premier League     7
31          Manchester City  Premier League    16
32        Manchester United  Premier League    11
48              Southampton  Premier League     4
50        Tottenham Hotspur  Premier League    12
56                  Watford  Premier League     1
58          West Ham United  Premier League     3
59  Wolverhampton Wanderers  Premier League     2

In [87]:
world_cup_data_df = pd.read_csv('..\\..\\Consolidated Data\\World Cup Data at Club Level.csv')

club_string = world_cup_data_df['Club']
for i in range(0,len(club_string)):
    club_string[i]=unicodedata.normalize('NFKD', club_string[i]).encode('ASCII', 'ignore').decode('utf-8')

world_cup_data_df['Club'] = club_string

world_cup_data_df.columns = ['Team','League','WC_Player_Count']

world_cup_data_df[world_cup_data_df['League'] ==  'Premier League']

c:\users\akhil_s_bhat\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                       Team          League  WC_Player_Count
5                   Arsenal  Premier League                7
6               Aston Villa  Premier League                3
15                  Burnley  Premier League                2
17                  Chelsea  Premier League               11
18           Crystal Palace  Premier League                2
20                  Everton  Premier League                3
26           Leicester City  Premier League                8
28                Liverpool  Premier League                7
31          Manchester City  Premier League               16
32        Manchester United  Premier League               11
48              Southampton  Premier League                4
50        Tottenham Hotspur  Premier League               12
56                  Watford  Premier League                1
58          West Ham United  Premier League                3
59  Wolverhampton Wanderers  Premier League                2

In [88]:
prm_lg_temp_df=prm_lg_combined_df.merge(world_cup_data_df,how='outer',on='Team')

for i in range(prm_lg_temp_df[prm_lg_temp_df['Total Market Value'].isnull()].head(1).index[0],prm_lg_temp_df[prm_lg_temp_df['Total Market Value'].isnull()].tail(1).index[0]):
    for j in range(prm_lg_temp_df[prm_lg_temp_df['WC_Player_Count'].isnull()].head(1).index[0],prm_lg_temp_df[prm_lg_temp_df['WC_Player_Count'].isnull()].tail(1).index[0]):
        search = re.search(prm_lg_temp_df.loc[j]['Team'],prm_lg_temp_df.loc[i]['Team'])
        if search is not None:
            clean = search.group()
            prm_lg_temp_df.loc[i] = prm_lg_temp_df.loc[i].combine_first(prm_lg_temp_df.loc[j])
            break

In [89]:
prm_lg_temp_df[prm_lg_temp_df['WC_Player_Count'].isnull()][['Team','WC_Player_Count']]

             Team  WC_Player_Count
3     Bournemouth              NaN
4        Brighton              NaN
8       Leicester              NaN
10       Man City              NaN
11        Man Utd              NaN
12      Newcastle              NaN
13        Norwich              NaN
14  Sheffield Utd              NaN
16      Tottenham              NaN
18       West Ham              NaN
19  Wolverhampton              NaN

In [90]:
prm_lg_temp_df.iloc[8, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 8
prm_lg_temp_df.iloc[10, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 16
prm_lg_temp_df.iloc[11, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 11
prm_lg_temp_df.iloc[16, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 12
prm_lg_temp_df.iloc[18, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 3
prm_lg_temp_df.iloc[19, prm_lg_temp_df.columns.get_loc('WC_Player_Count')] = 2

In [91]:
prm_lg_temp_df=prm_lg_temp_df.drop(['League_y'],axis=1)
prm_lg_temp_df['WC_Player_Count']=prm_lg_temp_df['WC_Player_Count'].fillna(0)
prm_lg_temp_df=prm_lg_temp_df.dropna()
prm_lg_combined_df = prm_lg_temp_df

In [92]:
top_50_data_df = pd.read_csv('..\\..\\Consolidated Data\\Top 50 Players Club Level.csv')
top_50_data_df['Value in GBP'] = top_50_data_df['Value in GBP'].map(lambda x: x.lstrip('£').rstrip('m'))
x=top_50_data_df.groupby('Team').agg({'Player':'count'})
x=x.reset_index()
x.iloc[11, x.columns.get_loc('Team')] = 'Man City'
x.iloc[12, x.columns.get_loc('Team')] = 'Man Utd'
x.iloc[16, x.columns.get_loc('Team')] = 'Tottenham'
prm_lg_temp_df=prm_lg_temp_df.merge(x,how='left',on='Team')
prm_lg_combined_df = prm_lg_temp_df.fillna(0)
prm_lg_combined_df=prm_lg_combined_df.drop(prm_lg_combined_df.index[[20,21,22]])

In [93]:
fa_cup_df = pd.read_csv('..\\..\\Consolidated Data\\FA Cup Records.csv')
fa_winner = fa_cup_df[['Season','Winner']].groupby('Winner').count()
fa_winner = fa_winner.reset_index()
fa_winner.columns = ['Team','FA_Wins']
fa_winner.iloc[3, x.columns.get_loc('Team')] = 'Man City'
fa_winner.iloc[4, x.columns.get_loc('Team')] = 'Man Utd'
prm_lg_temp_df=prm_lg_combined_df
prm_lg_temp_df= pd.merge(prm_lg_temp_df,fa_winner,how='left',on='Team')
prm_lg_temp_df=prm_lg_temp_df.fillna(0)

In [94]:
fa_runner = fa_cup_df[['Season','Runner']].groupby('Runner').count()
fa_runner = fa_runner.reset_index()
fa_runner.columns = ['Team','FA_Runners']
fa_runner.iloc[7, x.columns.get_loc('Team')] = 'Man City'
fa_runner.iloc[8, x.columns.get_loc('Team')] = 'Man Utd'
fa_runner.iloc[12, x.columns.get_loc('Team')] = 'West Ham'
prm_lg_temp_df= pd.merge(prm_lg_temp_df,fa_runner,how='left',on='Team')
prm_lg_temp_df=prm_lg_temp_df.fillna(0)
prm_lg_combined_df=prm_lg_temp_df

In [95]:
prm_lg_combined_df.columns

Index(['Team', 'Avg_Pos', 'Total Market Value', 'League_x', 'Range1_Win_CL',
       'Range2_Win_CL', 'Range3_Win_CL', 'Range4_Win_CL', 'Range5_Win_CL',
       'Range1_Run_CL', 'Range2_Run_CL', 'Range3_Run_CL', 'Range4_Run_CL',
       'Range5_Run_CL', 'Range1_SF_CL', 'Range2_SF_CL', 'Range3_SF_CL',
       'Range4_SF_CL', 'Range5_SF_CL', 'Range1_Win_EL', 'Range2_Win_EL',
       'Range3_Win_EL', 'Range4_Win_EL', 'Range5_Win_EL', 'Range1_Run_EL',
       'Range2_Run_EL', 'Range3_Run_EL', 'Range4_Run_EL', 'Range5_Run_EL',
       'Range1_SF_EL', 'Range2_SF_EL', 'Range3_SF_EL', 'Range4_SF_EL',
       'Range5_SF_EL', 'WC_Player_Count', 'Player', 'FA_Wins', 'FA_Runners'],
      dtype='object')

In [96]:
prm_lg_temp_df['Avg_Pos'] = 1 - (prm_lg_temp_df['Avg_Pos']/20)

In [97]:
prm_lg_temp_df.at[10,'Total Market Value'] = '£1150m'

In [98]:
prm_lg_temp_df['Total Market Value'] = prm_lg_temp_df['Total Market Value'].map(lambda x: x.lstrip('£').rstrip('m'))

In [99]:
prm_lg_combined_df=prm_lg_temp_df

In [100]:
prm_lg_combined_df

,Team,Avg_Pos,Total Market Value,League_x,Range1_Win_CL,Range2_Win_CL,Range3_Win_CL,Range4_Win_CL,Range5_Win_CL,Range1_Run_CL,...,Range5_Run_EL,Range1_SF_EL,Range2_SF_EL,Range3_SF_EL,Range4_SF_EL,Range5_SF_EL,WC_Player_Count,Player,FA_Wins,FA_Runners
0,Aston Villa,0.292308,171.90,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0
1,Crystal Palace,0.153846,212.90,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0
2,Arsenal,0.807692,615.38,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,7.0,2.0,3.0,0.0
3,Bournemouth,0.076923,300.83,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Brighton,-0.011538,195.39,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Burnley,0.065385,178.88,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
6,Chelsea,0.838462,726.30,Premier League,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,2.0,5.0,1.0
7,Everton,0.638462,455.40,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,1.0
8,Leicester,0.180769,369.23,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
9,Liverpool,0.757692,965.03,Premier League,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,1.0,1.0
10,Man City,0.784615,1150,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,16.0,8.0,2.0,1.0
11,Man Utd,0.850000,677.93,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,4.0,1.0,2.0
12,Newcastle,0.292308,246.22,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Norwich,0.042308,109.44,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Sheffield Utd,-0.038462,82.31,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Southampton,0.223077,213.30,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
16,Tottenham,0.750000,885.60,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12.0,3.0,0.0,0.0
17,Watford,0.065385,211.64,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
18,West Ham,0.353846,313.88,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0
19,Wolverhampton,0.046154,300.38,Premier League,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0

In [101]:
prm_lg_combined_df.to_csv('..\\..\\Consolidated Data\\Premier League Final.csv')