In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium import webdriver

In [2]:
#Use Beautiful Soup to pull all contents of the web-page
page = requests.get('https://en.wikipedia.org/wiki/European_Cup_and_UEFA_Champions_League_records_and_statistics')
soup = BeautifulSoup(page.content,'html.parser')

#Find all tables in the page
tables = soup.findAll("table")

In [3]:
table_header = tables[0].findAll("tr")
header_list=[]

In [4]:
for i in range(1,len(table_header[0])):
    if(i==1):
        header_list.append(table_header[0].contents[i].contents[1].lstrip().rstrip())
    elif (i%2 != 0):
        header_list.append(table_header[0].contents[i].contents[0].lstrip().rstrip())

In [5]:
cl_final_record = pd.DataFrame(columns=header_list)
rows = tables[0].findAll("tr")

In [6]:
for club in range(1,len(rows)):
    club_name = rows[club].contents[1].contents[2].contents[0]
    titles = rows[club].contents[3].contents[0].rstrip()
    runners = rows[club].contents[5].contents[0].rstrip()
    x = rows[club].contents[7].findAll("a")
    win_list = []
    for i in range(0,len(x)):
        win_list.append(x[i].contents[0])
    y = rows[club].contents[9].findAll("a")
    runner_list = []
    for j in range(0,len(y)):
        runner_list.append(y[j].contents[0])
    cl_final_record.loc[club-1] = [club_name,titles,runners,win_list,runner_list]

In [7]:
semi_table_hdr = tables[4].findAll("tr")
semi_hdr_list = []

In [8]:
for i in range(1,len(semi_table_hdr[0])):
    if (i%2 != 0):
        semi_hdr_list.append(semi_table_hdr[0].contents[i].contents[0].lstrip().rstrip())

In [9]:
cl_semi_record = pd.DataFrame(columns=semi_hdr_list)
rows = tables[4].findAll("tr")

In [10]:
for club in range(1,len(rows)):
    club_name = rows[club].contents[1].contents[2].contents[0]
    number_of_semis = rows[club].contents[3].contents[0].rstrip()
    x = rows[club].contents[5].findAll("a")
    years = []
    for i in range(0,len(x)):
        years.append(x[i].contents[0])
    cl_semi_record.loc[club-1] = [club_name,number_of_semis,years]

In [11]:
type(cl_final_record.loc[10][4])

list

In [12]:
cl_semi_record

                   Team No.                                              Years
0           Real Madrid  29  [1956, 1957, 1958, 1959, 1960, 1962, 1964, 196...
1         Bayern Munich  19  [1974, 1975, 1976, 1981, 1982, 1987, 1990, 199...
2             Barcelona  17  [1960, 1961, 1975, 1986, 1992, 1994, 2000, 200...
3                 Milan  13  [1956, 1958, 1963, 1969, 1989, 1990, 1993, 199...
4     Manchester United  12  [1957, 1958, 1966, 1968, 1969, 1997, 1999, 200...
5              Juventus  12  [1968, 1973, 1978, 1983, 1985, 1996, 1997, 199...
6             Liverpool  11  [1965, 1977, 1978, 1981, 1984, 1985, 2005, 200...
7                  Ajax   9  [1969, 1971, 1972, 1973, 1980, 1995, 1996, 199...
8               Benfica   8   [1961, 1962, 1963, 1965, 1968, 1972, 1988, 1990]
9           Inter Milan   8   [1964, 1965, 1966, 1967, 1972, 1981, 2003, 2010]
10              Chelsea   7         [2004, 2005, 2007, 2008, 2009, 2012, 2014]
11      Atlético Madrid   6               [1959, 1971, 1974, 2014, 2016, 2017]
12    Red Star Belgrade   4                           [1957, 1971, 1991, 1992]
13    Borussia Dortmund   4                           [1964, 1997, 1998, 2013]
14               Celtic   4                           [1967, 1970, 1972, 1974]
15               Monaco   4                           [1994, 1998, 2004, 2017]
16              Hamburg   3                                 [1961, 1980, 1983]
17         Leeds United   3                                 [1970, 1975, 2001]
18        Panathinaikos   3                                 [1971, 1985, 1996]
19        PSV Eindhoven   3                                 [1976, 1988, 2005]
20          Dynamo Kyiv   3                                 [1977, 1987, 1999]
21     Steaua București   3                                 [1986, 1988, 1989]
22                Porto   3                                 [1987, 1994, 2004]
23            Marseille   3                                 [1990, 1991, 1993]
24                Reims   2                                       [1956, 1959]
25              Rangers   2                                       [1960, 1993]
26    Tottenham Hotspur   2                                       [1962, 2019]
27            Feyenoord   2                                       [1963, 1970]
28               Zürich   2                                       [1964, 1977]
29           CSKA Sofia   2                                       [1967, 1982]
..                  ...  ..                                                ...
45               Dundee   1                                             [1963]
46            Győri ETO   1                                             [1965]
47             Partizan   1                                             [1966]
48          Dukla Praha   1                                             [1967]
49       Spartak Trnava   1                                             [1969]
50         Legia Warsaw   1                                             [1970]
51         Derby County   1                                             [1973]
52               Újpest   1                                             [1974]
53          Club Brugge   1                                             [1978]
54         Austria Wien   1                                             [1979]
55                 Köln   1                                             [1979]
56             Malmö FF   1                                             [1979]
57          Aston Villa   1                                             [1982]
58        Real Sociedad   1                                             [1983]
59          Widzew Łódź   1                                             [1983]
60     Dinamo București   1                                             [1984]
61        Dundee United   1                                             [1984]
62             Bordeaux   1                                             [1985]
63          Galatasaray   1                                             [1989]
64       Spartak Moscow   1                                             [1991]
65        Sparta Prague   1                                             [1992]
66            Sampdoria   1                                             [1992]
67  Paris Saint-Germain   1                                             [1995]
68               Nantes   1                                             [1996]
69     Bayer Leverkusen   1                                             [2002]
70  Deportivo La Coruña   1                                             [2004]
71           Villarreal   1                                             [2006]
72                 Lyon   1                                             [2010]
73           Schalke 04   1                                             [2011]
74      Manchester City   1                                             [2016]

[75 rows x 3 columns]

In [13]:
cl_final_record

,Club,Titles,Runners-up,Seasons won,Seasons runner-up
0,Real Madrid,13,3,"[1956, 1957, 1958, 1959, 1960, 1966, 1998, 200...","[1962, 1964, 1981]"
1,Milan,7,4,"[1963, 1969, 1989, 1990, 1994, 2003, 2007]","[1958, 1993, 1995, 2005]"
2,Liverpool,6,3,"[1977, 1978, 1981, 1984, 2005, 2019]","[1985, 2007, 2018]"
3,Bayern Munich,5,5,"[1974, 1975, 1976, 2001, 2013]","[1982, 1987, 1999, 2010, 2012]"
4,Barcelona,5,3,"[1992, 2006, 2009, 2011, 2015]","[1961, 1986, 1994]"
5,Ajax,4,2,"[1971, 1972, 1973, 1995]","[1969, 1996]"
6,Internazionale,3,2,"[1964, 1965, 2010]","[1967, 1972]"
7,Manchester United,3,2,"[1968, 1999, 2008]","[2009, 2011]"
8,Juventus,2,7,"[1985, 1996]","[1973, 1983, 1997, 1998, 2003, 2015, 2017]"
9,Benfica,2,5,"[1961, 1962]","[1963, 1965, 1968, 1988, 1990]"
10,Nottingham Forest,2,0,"[1979, 1980]",[]
11,Porto,2,0,"[1987, 2004]",[]
12,Celtic,1,1,[1967],[1970]
13,Hamburger SV,1,1,[1983],[1980]
14,Steaua București,1,1,[1986],[1989]
15,Marseille,1,1,[1993],[1991]
16,Borussia Dortmund,1,1,[1997],[2013]
17,Chelsea,1,1,[2012],[2008]
18,Feyenoord,1,0,[1970],[]
19,Aston Villa,1,0,[1982],[]
20,PSV Eindhoven,1,0,[1988],[]
21,Red Star Belgrade,1,0,[1991],[]
22,Atlético Madrid,0,3,[],"[1974, 2014, 2016]"
23,Reims,0,2,[],"[1956, 1959]"
24,Valencia,0,2,[],"[2000, 2001]"
25,Fiorentina,0,1,[],[1957]
26,Eintracht Frankfurt,0,1,[],[1960]
27,Partizan,0,1,[],[1966]
28,Panathinaikos,0,1,[],[1971]
29,Leeds United,0,1,[],[1975]
30,Saint-Étienne,0,1,[],[1976]
31,Borussia Mönchengladbach,0,1,[],[1977]
32,Club Brugge,0,1,[],[1978]
33,Malmö FF,0,1,[],[1979]
34,Roma,0,1,[],[1984]
35,Sampdoria,0,1,[],[1992]
36,Bayer Leverkusen,0,1,[],[2002]
37,Monaco,0,1,[],[2004]
38,Arsenal,0,1,[],[2006]
39,Tottenham Hotspur,0,1,[],[2019]