### All the necessary Imports

In [44]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

### Defining League and Seasons to consider

In [45]:
league_key = {'England':1,'Spain':31,'Germany':32,'Italy':33,'France':34,'Holland':36,'Portugal':37,'Scotland':10,'Turkey':79,'Championship':2}

In [46]:
season_key = {2019:16,2018:15,2017:14,2016:13,2015:12}

### Defining a function to split one list into a list of smaller lists

In [47]:
def divide_chunks(l, n): 
    for i in range(0, len(l), n):  
        yield l[i:i + n]

### Defining a function to get league data based on input League and Season

In [48]:
def get_league_data(league,season):
    #Building the URL
    data_url = 'https://thefishy.co.uk/leaguetable.php?table='+str(league_key[league])+'&season='+str(season_key[season])
    
    #Use Beautiful Soup to pull all contents of the web-page
    page = requests.get(data_url)
    soup = BeautifulSoup(page.content,'html.parser')
    
    #Find all tables in the page
    tables = soup.findAll("table")
    
    #Selecting the correct table to pull data from
    table_to_use = tables[5]
    
    #Extracting the header details
    table_header = table_to_use.find_all('th')
    header_list = []
    for i in table_header:
        header_list.append(i.contents[0])
        
    #Extracting table contents and cleaning data
    table_data = table_to_use.find_all('td')
    
    #Cleaning the table by removing tags
    table_data_clean = []
    for i in table_data:
        table_data_clean.append(i.contents[0])
            
    #Converting the larger list into a list of lists
    n = 10  
    x = list(divide_chunks(table_data_clean, n))
    
    #Converting the list of lists into a dataframe
    df = pd.DataFrame(x, columns =header_list)
    
    #Removing the tag values from the Team column
    df_team = df['Team']
    for i in range(0,len(df_team)):
        df_team[i] = df_team[i].contents[0]
    df['Team'] = df_team
    return df

In [50]:
get_league_data('England',2019)

   Pos            Team   P   W   D   L   F   A   GD Pts
0    1        Man City  38  32   2   4  95  23  +72  98
1    2       Liverpool  38  30   7   1  89  22  +67  97
2    3         Chelsea  38  21   9   8  63  39  +24  72
3    4       Tottenham  38  23   2  13  67  39  +28  71
4    5         Arsenal  38  21   7  10  73  51  +22  70
5    6         Man Utd  38  19   9  10  65  54  +11  66
6    7   Wolverhampton  38  16   9  13  47  46   +1  57
7    8         Everton  38  15   9  14  54  46   +8  54
8    9       Leicester  38  15   7  16  51  48   +3  52
9   10        West Ham  38  15   7  16  52  55   -3  52
10  11         Watford  38  14   8  16  52  59   -7  50
11  12  Crystal Palace  38  14   7  17  51  53   -2  49
12  13       Newcastle  38  12   9  17  42  48   -6  45
13  14     Bournemouth  38  13   6  19  56  70  -14  45
14  15         Burnley  38  11   7  20  45  68  -23  40
15  16     Southampton  38   9  12  17  45  65  -20  39
16  17        Brighton  38   9   9  20  35  60  -25  36
17  18         Cardiff  38  10   4  24  34  69  -35  34
18  19          Fulham  38   7   5  26  34  81  -47  26
19  20    Huddersfield  38   3   7  28  22  76  -54  16